<h1> Segmenting and Clustering Neighborhoods in Toronto </h1>

<h3> Data Scraping </h3><br>
<h5> Link: <a href = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M">Wikipedia</a><h5>

In [1]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [2]:
import pandas as pd
import numpy as np

<h4>Load Data by web scrapping</h4>

In [35]:
df = pd.read_html(link)
df = df[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<h4>Remove rows where <b>Borough</b> is "<I>Not Assigned.</I>"</h4>

In [40]:
df = df[df["Borough"]!="Not assigned"]
df.reset_index(drop=True,inplace=True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<h4>Replace "Not Assigned" neighborhood by corresponding <I>Borough value</I></h4>

In [37]:
df["Neighborhood"] = df["Neighborhood"].replace("Not Assigned",df["Borough"])
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<h4>Print shape of the dataframe</h4>

In [38]:
df.shape

(103, 3)